  <style>
   .body {
    margin-left: 12%;
    margin-top: 1%;
    top: 30px;
   }
   .colortext {
     color: red;
  </style>

{% extends 'base.html'%}
{% block title %} Registration code {% endblock %}
{% block content %}
  <div class="body">
  <form action="." method="post">
      {% if number_of_rec < 3 %}
      <h4> <span class="colortext"> You have entered the wrong registration code. <br>
      You have {{number_of_rec}} attempts. </span> </h4>
      {% endif %}
      {{form.as_p}}
      {% csrf_token %}
      <button class="btn btn-outline-info" aria-pressed="true" type="submit"> I am sure that I submit the correct password. </button>
      {% csrf_token %}
  </form>
  </div>
  {% endblock %}