 <style>
   .colortext {
     color: red;
   }
  </style>

{% extends "base.html" %}

{% block content %}
<center> <h2> LogIn </h2> </center>
{% if form.errors %}
 <h4><span  class="colortext">Your username and password didn't match.Please try again.</span></h4>
{% else %}
  <center><p>Please, use the following form to log-in:</p> </center>
 {% endif %}
<center><form action="." method="post">
    {{ form.as_p}}
    {% csrf_token %}
    <button class="btn btn-outline-info" type="submit"> LogIn </button>
</form></center>
 <center> <a href="{% url 'account:registration' %}" class="btn btn-outline-info" role="button" aria-pressed="true"> Create your account </a>  </center> <br>
 <center> <a href="{% url 'account:password_reset' %}" class="btn btn-outline-info" role="button" aria-pressed="true"> Forgot your password? </a>  </center>
 {% csrf_token %}
{% endblock %}

